# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed

# Coverage
coverage/
*.lcov

# Build outputs
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# IDE & editor
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS files
.DS_Store
Thumbs.db
